body{
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5;
  color: #695B5B;
}

li{
  line-height: 1.5rem;
}

a{
  color: #026F8C;
}
